@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.terciary);
  background: theme("colors.secondary");
  font-family: var(--font-roboto);
}

a {
  cursor: pointer;
  &:hover {
    opacity: 0.75;
    transition: all;
  }
}

h1,
h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  font-family: var(--font-anton);
  text-transform: uppercase;
}
