@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.terciary);
  background: theme("colors.secondary");
  font-family: var(--font-roboto);
}

a {
  cursor: pointer;
  &:hover {
    opacity: 0.75;
    transition: all;
  }
}
